[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = git://github.com/wincent/Command-T.git
[submodule "vim/bundle/vim-mustang"]
	path = .vim/bundle/vim-mustang
	url = git://github.com/marcus/vim-mustang.git
[submodule "/Users/wolfe/dotfiles/.vim/bundle/vimspire"]
	path = /Users/wolfe/dotfiles/.vim/bundle/vimspire
	url = https://github.com/wolfes/vimspire.git
[submodule ".vim/bundle/snipmate"]
	path = .vim/bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
