[user]
	name = Wolfe Styke
	email = wstyke@mit.edu
[core]
	editor = emacs
	excludesfile = /Users/wolfe/.gitignore_global
[color]
	ui = auto

[alias]
	ci = commit
	co = checkout
	st = status
	br = branch
	di = diff
	dc = diff --cached
	lol = log --pretty=format:'%C(cyan)%h %C(yellow)%an%C(green)%d %Creset%s' --decorate --abbrev-commit --graph
	ll = log --pretty=format:'%C(cyan)%h %C(yellow)%an%C(green)%d %Creset%s' --decorate --abbrev-commit
